// mixins
@import "mixins";
// fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:ital,wght@0,300;1,300&display=swap");
// components styles
@import "todoList";
@import "todo";
@import "todoForm";
// styles
*,
*::after,
*::before {
  @include cssReseter;
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-s;
}
button {
  background-color: transparent;
  cursor: pointer;
}
svg {
  font-size: 1.5rem;
  cursor: pointer;
}
// scroll bar
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 158);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(187, 187, 187);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgb(207, 207, 207);
}
